<form [formGroup]="loginFormGroup">
  <p *ngIf="loginError">
    {{ loginError }}
  </p>
  <div>
    <label for="username">Username</label>
    <input id="username" type="text" formControlName="username" />
  </div>

  <div>
    <label for="password">Password</label>
    <input id="password" type="password" formControlName="password" />
  </div>

  <div>
    <input
      [disabled]="!loginFormGroup.valid"
      type="button"
      value="Login"
      (click)="onLogin()"
    />
    <p *ngIf="loginFormGroup.invalid">
      Input credentials to enable login button.
    </p>
  </div>
</form>
